---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/base-layout.astro';

const posts = (await getCollection('posts')).sort(
  (a, b) => +b.data.date - +a.data.date,
);

const formatDate = (date: Date) => {
  return `${date.getDate()}-${date.getMonth()}-${date.getFullYear()}`;
};
---

<BaseLayout title="Blog">
  <div class="posts">
    {
      posts.map((o) => (
        <a href={`/blog/${o.id}`} class="post">
          <span class="date">{formatDate(o.data.date)}</span>
          <div class="post-info">
            <span class="title">{o.data.title}</span>
            <span class="desc">{o.data.description}</span>
          </div>
        </a>
      ))
    }
  </div>
</BaseLayout>

<style is:global>
  .posts {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    .post {
      text-decoration: none;
      display: flex;
      align-items: start;
      gap: 20px;
      flex: 1;
      //background: red;

      .date {
        font-family: var(--font-secondary);
        color: var(--text-secondary);
        font-size: 17px;
        width: max-content !important;
        //margin-top: 5px;
      }

      .post-info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .title {
          text-decoration: underline;
          font-size: 23px;
          font-family: var(--font-primary);
          line-height: 100%;
          font-weight: 600;
        }

        .desc {
          //background: red;
          font-family: var(--font-secondary);
          line-height: 100%;
          font-weight: 550;
          font-size: 18px;
          color: var(--text-secondary);
        }
      }
    }
  }
</style>
